/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  background: radial-gradient(circle at center, #4d4e84 20%, #020923 80%);
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 15px;

  overflow: hidden;
}

body {
  position: relative;
  
  font-family: 'Oswald', Arial, Helvetica, sans-serif;

  height: 100vh;
  width: 100vw;
}

.circle {
  position: absolute;
  left:50%;
  top:50%;

  border: 1px solid white;
  border-radius: 50%;
}

.circle--little {
  height: 31.6rem;
  width: 31.6rem;

  margin-left:-15.5rem; 
  margin-top:-15.5rem; 
}

.circle--big {
  height: 50rem;
  width: 50rem;

  margin-left:-25rem; 
  margin-top:-25rem; 
}


/* навигатор */
.nav {  
  font-weight: 200;
  font-size: 1.1rem;
  letter-spacing: 1.5px;

  position: absolute;
  top: 127px;
  width: 100%;
  z-index: 100;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  max-width: 1024px;
  margin: 0 auto;

  list-style-type: none;
}

.nav__link, .hex__link {
  display: inline-block;

  white-space: nowrap;
  text-decoration: none;
}

.nav__link {
  color: white;
}

.nav__item {
  padding: 1.3rem;
}

.nav__link::first-letter {
  text-transform: capitalize;
}

.nav__link__entry {
  text-transform: capitalize;
}

/* .nav__item__entry {
  align-self: right;
} */

.nav__item--uppercase {
  text-transform: uppercase;
}

/* блок с гексагонами */

/* ниже идёт отрисовка гексагонов - не стоит трогать эти стили */
.hex__item {
  position: relative;
  background: white;

  height: 15rem;
  width: 9rem;
  box-sizing: border-box;

  border: 10px solid white;
  border-radius: 10px;

  cursor: pointer;

  transition: all 400ms;
}

.hex__item::before,
.hex__item::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;

  height: 100%;
  width: 100%;

  background: inherit;
  border: inherit;
  border-radius: inherit;
}
.hex__item::before {
  transform: rotate(60deg);
}
.hex__item::after {
  transform: rotate(-60deg);
}
/* выше идёт отрисовка гексагонов */

.hex {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  /* margin-top: -70px; */
}

.hex__list {
  display: grid;
  grid-template-columns: 9rem 1.5rem 4rem 1.5rem 2rem 5.3rem 1.5rem 0.5rem 4rem 9rem 4rem 0.5rem 1.5rem 5.3rem 2rem 1.5rem 4rem 1.5rem 9rem;
  grid-template-rows: 4rem 2.11rem 2.11rem 4.22rem 3.28rem 3.28rem 4.22rem 2.11rem 2.11rem 4rem;
  justify-content: center;

  list-style-type: none;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hex__item--mini {
  height: 6rem;
  width: 4rem;
}

.hex__item--medium {
  height: 8.34rem;
  width: 5.3rem;
}

.hex__item--large {
  height: 15rem;
  width: 9rem;
}

.hex__strip {
  position: relative;
  background: white;

  height: 7.567rem;
  transform: skewX(-30deg);
  box-sizing: border-box;

  border: 10px solid white;
  border-radius: 10px;

  transition: all 400ms;
}

.hex__strip__content {
  position: absolute;
  background: inherit;
  top: -10px;

  height: inherit;
  width: 1500px;
  transform: skewX(30deg);
  box-sizing: border-box;

  border: inherit;
  border-radius: inherit;

  transition: inherit;
}

.hex__strip__content--left {
  right: 20px;
  border-right: none;
  text-align: right;
}

.hex__strip__content--right {
 left: 35px;
 border-left: none;
  text-align: left;
}

.hex__item--mini--right {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 17;
  grid-column-end: 18;
}

.hex__item--medium--right {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 14;
  grid-column-end: 15;
}

.hex__strip--left {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 10;

    margin-right: 3.5rem;
}

.hex__item--center {
  grid-row-start: 4;
  grid-row-end: 8;
  grid-column-start: 10;
  grid-column-end: 11;
}

.hex__strip--right {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 11;
  grid-column-end: 20;

  margin-left: 3.5rem;
}

.hex__item--medium--left {
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 6;
  grid-column-end: 7;
}

.hex__item--mini--left {
  grid-row-start: 9;
  grid-row-end: 11;
  grid-column-start: 3;
  grid-column-end: 4;
}

.hex__content {
  position: absolute;
  z-index: 1;
}
