* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  background-color: rgb(180, 180, 219);
  font-family: Arial, Helvetica, sans-serif;
}

.nav__list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  list-style-type: none;
}

.nav__link, .hex__link {
  display: inline-block;

  white-space: nowrap;
  text-decoration: none;
  color: white;
}

.nav__item {
  
  padding: 20px;
}

.nav__link::first-letter {
  text-transform: capitalize;
}

.nav__link__entry {
  text-transform: capitalize;
}

.nav__item--uppercase {
  text-transform: uppercase;
}


.hex__list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 46px 46px 110px 7px 110px 46px 46px;
  justify-content: center;
  grid-gap: 0px;

  margin: 50px auto;

  list-style-type: none;
}

.hex__item--mini--right {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 7;

  margin: -10px 0px 0px 55px;
}

.hex__item--medium--right {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 6;

  margin: -10px 0px 0px 30px;
}

.strip--left {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.hex__item--large {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 6;

  margin: 0 50px;
}

.strip--right {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 6;
  grid-column-end: 9;
}

.hex__item--medium--left {
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;

  margin: 45px 30px 0px 50px;
}

.hex__item--mini--left {
  grid-row-start: 6;
  grid-row-end: 8;
  grid-column-start: 1;

  margin: 30px 0px 0px 0px;
}

/* ниже идёт отрисовка гексагонов - не стоит трогать эти стили */
.hex__item {
  position: relative;
  background: white;

  height: 227px;
  width: 135px;
  box-sizing: border-box;

  border: 10px solid white;
  border-radius: 10px;

  transition: all 400ms;
}

.hex__item:before,
.hex__item:after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;

  height: 100%;
  width: 100%;

  background: inherit;
  border: inherit;
  border-radius: inherit;
}
.hex__item:before {
  transform: rotate(60deg);
}
.hex__item:after {
  transform: rotate(-60deg);
}

.hex__item--mini {
  height: 92px;
  width: 60px;
}

.hex__item--medium {
  height: 126px;
  width: 80px;
}

.hex__strip {

  position: relative;
  background: white;

  height: 118px;
  /* width: 100px; */
  transform: skewX(-30deg);
  box-sizing: border-box;

  border: 10px solid white;
  border-radius: 10px;

  transition: all 400ms;
}

/* выше идёт отрисовка гексагонов */

.hex__content {
  position: absolute;
  z-index: 1;
}
